<body class="text-center">	
	<div class="user-box">
		<br>
		<form class="form-signin" action="" method="post">
			<h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
			<input placeholder="Username" id="inputUserName" class="form-control" type="text" name="user" required>
			<input placeholder="Password" id="inputPassword" class="form-control" type="password" name="pass" autocomplete="new-password" required> <br>
			<input type="submit" class="btn btn-lg btn-secondary btn-block" value="Login">
		</form>
	</div>
</body>

<style>
	.form-signin {
		  width: 100%;
		  max-width: 330px;
		  padding: 15px;
		  margin: 0 auto;
		}

	.form-signin .form-control {
		position: relative;
		box-sizing: border-box;
		height: auto;
		padding: 10px;
		font-size: 16px;
</style>